.page-banner {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }

  h3 {
    font-size: 18px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: calc(25% - 20px);
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .buttonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
   
  }

  .buttonContainer button {
    margin: 0;
    background-color: white;
  }
  
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: 100%;
    }
  }

  .cart {
    margin-right: 40px;
  }

  .wishlist {
    width: 90px;
  }

  .arrow {
    border: none;
  }

  .pagination-container {
    text-align: center;
  }
  
  .float-right {
    float: none;
    display: inline-block;
  }

  .no-data p{
    text-align: center !important;
  }

  .right-align {
    text-align: right;
    // margin-top: 13px;
  }

  .search-container input:focus {
    outline: none; 
  }

  .no-data {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin: auto;
    margin-top: 50px;
  }
  
  .no-data p {
    font-size: 16px;
    color: #333;
    margin: 0;
  }
  

  // .sorting-container {
  //   position: relative;
  //   top: 22px;

  // }
  
  // .sorting-container button {
  //   margin-right: 10px;
  // }