.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.page-banner {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.search-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sorting-container button,
.search-container input {
  padding: 10px;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.sorting-container button {
  background-color: #2ecc71;
  color: #fff;
}

.search-container input {
  width: 250px;
  border: 1px solid #ddd;
  padding: 10px;
  transition: border-color 0.3s ease;
}

.search-container input:focus {
  border-color: #3498db;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(25% - 20px);
  margin: 10px;
  border: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.buttonContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

button {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #fff;
}

.cart {
  background-color: #3498db;
  width: 105px;
  font-size: 11px;
}

.wishlist {
  background-color: #e74c3c;
  width: 100px;
  font-size: 11px;
}

.arrow {
  background-color: #2ecc71;
  border: none;
  width: 40px;
}

span.fa {
  margin-left: 5px;
}

.pagination-container {
  margin-top: 20px;
  text-align: center;
}

.float-right {
  float: right;
}

.no-data {
  text-align: center;
  // margin: 20px 0;
  color: #555;
  margin: auto;
  font-size: 20px;
}

.right-align {
  text-align: right;
}